HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jar
*.pom
*.sha1
*.pom*
*.exe
out/
src/main/resources/static/bower_components
src/main/resources/static/node_modules
*/*.m2/*
*/metadata/*
*/.metadata/*

### NetBeans ###
/nbproject/private/
/nbbuild/
/cloud.m2/
/metadata/
/.metadata/.
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/