<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation=
	    "http://www.springframework.org/schema/beans
	     http://www.springframework.org/schema/beans/spring-beans.xsd
	     http://www.springframework.org/schema/aop
	     http://www.springframework.org/schema/aop/spring-aop.xsd">
		 

<bean id="messageListener" class="demo.SpringMDP" />

<bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
<property name="environment"> 
 <props>
                <prop key="java.naming.factory.initial">org.jboss.naming.remote.client.InitialContextFactory</prop>
                <prop key="java.naming.provider.url">remote://localhost:4447</prop>
  </props>
</property>
</bean>

<bean id="queueConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
<property name="jndiTemplate"> <ref bean="jndiTemplate" /></property>
<property name="jndiName"> <value>jms/RemoteConnectionFactory</value></property>
</bean>

<bean id="jmsDestinationResolver" class="org.springframework.jms.support.destination.JndiDestinationResolver">
<property name="jndiTemplate"> <ref bean="jndiTemplate" />
</property><property name="cache"> <value>true</value></property>
</bean>

<bean id="queueTemplate" class="org.springframework.jms.core.JmsTemplate">
<property name="connectionFactory">
<ref bean="queueConnectionFactory" />
</property>

<property name="destinationResolver">
 <ref bean="jmsDestinationResolver" />
</property>
</bean>

<bean id="queue" class="org.springframework.jndi.JndiObjectFactoryBean"> 
<property name="jndiTemplate"> 
  <ref bean="jndiTemplate" /> 
</property> 
<property name="jndiName">  
 <value>jms/queue/test</value> 
</property>
</bean>

<bean id="jmsSender" class="demo.QueueSender">
<property name="jmsTemplate">
 <ref bean="queueTemplate" />
</property>
</bean>

  <bean id="listenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">   
   <property name="concurrentConsumers" value="5" />    
  <property name="connectionFactory" ref="queueConnectionFactory" />   
   <property name="destination" ref="queue" />   
   <property name="messageListener" ref="messageListener" />
 <!--
 <property name="taskExecutor">
        <bean id="myCommonJExecutor" 
           class="org.springframework.scheduling.commonj.WorkManagerTaskExecutor">
           <property name="workManagerName" value="java:comp/env/springWorkmanager"/>
        </bean>
    </property>
-->
	
  </bean>
</beans>