<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">
        
   
<bean id="bean1SL" class="org.springframework.aop.framework.ProxyFactoryBean">
<property name="targetSource" ref="bean1pool"/>
</bean>

<bean id="bean1pool" class="org.springframework.aop.target.CommonsPoolTargetSource">
<property name="targetBeanName" value="bean1pooltarget"/>
<property name="maxSize" value="25"/>
</bean>



<bean id="bean1pooltarget" class="ex01_bean.ex02_setter_pool.Bean1" scope="prototype" >
<property name="no">
<value>101</value>
</property>
</bean>	
   	
</beans>
